receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317 # Your app will send data here
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch: {}
  # This processor adds your environment label
  resource:
    attributes:
      - key: "deployment.environment"
        value: "${APP_ENVIRONMENT}" # Set by Docker Compose
        action: upsert

exporters:
  otlphttp:
    # This is your Grafana Cloud OTLP Endpoint
    endpoint: "${GRAFANA_OTLP_ENDPOINT_VAR}"
    headers:
      # This is the Base64 string you already have
      Authorization: "Basic ${GRAFANA_BASIC_AUTH_VAR}"

service:
  telemetry:
    logs:
      level: "debug"

  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, resource]
      exporters: [otlphttp]
    metrics:
      receivers: [otlp]
      processors: [batch, resource]
      exporters: [otlphttp]
    logs:
      receivers: [otlp]
      processors: [batch, resource]
      exporters: [otlphttp]
